{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": true
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        [
            "@babel/transform-runtime"
        ]
    ]
}